
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,200');
@import "~bootstrap/dist/css/bootstrap.css"; 


h5,p, h3,body,label,a,button{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; 
    
}
h2{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; 
    font-style: bold;
}
.linkActiveClass{
    color : green;
  }

  .linkDeactiveClass{
    color : green;
  }
  input::placeholder
{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; 
}
input::p
{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; 
}