<div class="container py-5 h-100">
  <div class="text-center">

      <h2  style="color: green">REPS</h2>   <br>   
  </div>      
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col col-xl-10">
    <div class="card" style="border-radius: 1rem;">
      <div class="row g-0">
        <div class="col-md-6 col-lg-5 d-none d-md-block">
          <img src="../assets/images/AMD.jpeg"
            alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> 
        </div>
        <div class="col-md-6 col-lg-7 d-flex align-items-center">
          <div class="card-body p-5 p-lg-4 text-black">

            <form>

              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register your account</h5>

              <div class="form-outline mb-4">
               <label class="form-label" for="emailAddress">Email address</label>
                <input type="email" id="emailAddress" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control form-control-lg" />
              </div>

              <div class="pt-8 mb-3">
                <button class="btn btn-success" type="button">Register</button>
              </div>

              <a class="small text-muted" href="#!">Forgot password?</a>
              <p class="mb-5 pb-lg-2" style="color: green">Already have an account? <a href="#!"
                  style="color: green">Login here</a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
